#body{
    height: 100%;
}

#achtergrond {
    width: 1528px;
    height: 738px;
    background-color: #e54196;
    position: absolute;
    top: 0px;
    left: 0px;
}

#middenRechthoek{
    width: 850px;
    height: 538px;
    background-color: #fe8fbf;
    position: absolute;
    top: 89px;
    left: 323px
}

#strikje{
    position: absolute;
    top: -19px;
    right: -26px;
    width: 90px;
    transform: rotate(35deg);
}

#strikjeTwee{
    position: absolute;
    top: -19px;
    left: -26px;
    width: 90px;
    transform: rotate(-35deg);
}

#strikjeDrie{
    position: absolute;
    top: 486px;
    left: -30px;
    width: 90px;
    transform: rotate(35deg);
}

#strikjeVier{
    position: absolute;
    top: 487px;
    right: -26px;
    width: 90px;
    transform: rotate(-35deg);
}