#body{
    height: 100%;
}

#achtergrond {
    width: 1528px;
    height: 738px;
    background-color: #ed6eb0;
    position: absolute;
    top: 0px;
    left: 0px;
}

#middenRechthoek{
    width: 850px;
    height: 538px;
    background-color: #ffffff;
    position: absolute;
    top: 89px;
    left: 323px
}